.home {
    height: 100vh;
}

.home .para {
    padding-left: 20%;
    background-size: cover;
}

.home .para p {
    width: 900px;
    text-align: center;
    padding: 20px 60px 50px 60px;
}

.home h1 {
    padding: 5px 0px 10px 0px;
    text-align: center;
}

.home .title {
    background: url("../../Images/3649732.jpg");
    border: 2px solid black;
}

.home .contact {
    text-align: center;
}

.home .contact h2 {
    text-align: center;
}

.home .contact button {
    width: fit-content;
    padding: 10px;
}