table {
    background-color: red;
    max-width: 70rem;
    width: 100%;
    margin: 4rem 20rem;
    text-align: center;
    min-height: max-content;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}